@import 'keyframes';

// bower:scss
// endbower

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

section, #renderer_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.progress {
  height: 4px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: 200;
  transform: scaleX(0);

  transition: transform .25s ease-out, opacity .3s ease-in-out;

  &.done {
    opacity: 0;
  }

  &#video_progress {
    background-color: transparent;
    transform: none;
    height: 2px;
  }
}

#renderer_container {
  pointer-events: none;
  transition: opacity 1s ease-in-out 1s;
  opacity: 0;

  .videoLoaded & {
    opacity: 1;
    pointer-events: auto;
  }
}
#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  opacity: 1;
  transition: opacity 1s ease;

  .videoLoaded & {
    opacity: 0;
    pointer-events: none;
  }

  .intro {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    video {
      position: relative;
      height: 100%;
      width: auto;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    z-index: -1;
  }

  .title {
    width: 60vw;
    min-width: 320px;
    height: auto;
  }

  #cta {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    height: 25vh;

    &.show {
      .loading {
        display: none;
      }
      .play {
        display: block;
      }
    }

    .loading {
      display: block;
      width: 200px;
      height: auto;
    }

    .play {
      display: none;
      min-width: 50px;
      width: 5vw;
      height: auto;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.25s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
  .headphones {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: 6vh;
    width: 250px;
    height: auto;
  }
}

#instructions {
  position: absolute;
  min-width: 300px;
  width: 20vw;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;

  &.show {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
}

#mini-share {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;

  .videoLoaded & {
    display: none;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    margin: 0 8px;
    width: 19px;
    height: 22px;
    opacity: 1;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.75;
    }

    &.fb {
      position: relative;
      top: 2px;
      width: 45px;
      height: 8px;
      background: url(../assets/img/share-text.png);
      background-size: cover;
    }

    &.itunes {
      background: url(../assets/img/share-apple.png) no-repeat;
      background-size: contain;
    }

    &.spotify {
      background: url(../assets/img/share-spotify.png) no-repeat;
      background-size: contain;
    }
  }
}

#playback {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;

  .videoLoaded & {
    opacity: 1;
  }

  &, .icon {
    transition: opacity 0.25s ease;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: auto;
  }

  .pause {
    opacity: 0;

    .playing & {
      opacity: 1;
    }
  }

  .play {
    opacity: 1;

    .playing & {
      opacity: 0;
    }
  }
}

#bumper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .bumper-inner {
    width: 91px;
  }

  a {
    text-underline: none;
    color: #fff;
    transition: opacity 0.25s ease;

    &:hover {
      color: #bbb;
    }
  }

  .fb, .repeat {
    margin: 20px 0;
  }

  .fb {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  a {
    opacity: 1;

    &:hover {
      opacity: 0.75;
    }
  }

  .share-icons {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;

    a {
      display: block;
      width: 34px;
      height: 40px;

      &.itunes {
        background: url(../assets/img/share-apple.png) no-repeat;
        background-size: cover;
      }

      &.spotify {
        background: url(../assets/img/share-spotify.png) no-repeat;
        background-size: cover;
      }
    }
  }

  .repeat {
    cursor: pointer;
    width: 100%;
    height: auto;
    transform: rotateZ(0);
    transition: transform 0.25s ease;

    &:hover {
      transform: rotateZ(-90deg);
    }
  }
}
